header {
  font-family: sans-serif;
  text-align: center; }

body {
  font-family: sans-serif;
  background-color: ghostwhite; }

.header {
  background-color: darkslategrey;
  color: ghostwhite; }

p {
  float: right;
  clear: both;
  overflow: hidden;
  padding-right: 10px; }

.addbtn {
  overflow: hidden;
  margin-left: 10px; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#main {
  -webkit-transition: margin-left .5s;
  -o-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px; }

.card {
  position: relative;
  font-size: 14px;
  font-family: lora;
  -webkit-box-shadow: 2px 2px 5px 2px dimgrey;
  box-shadow: 2px 2px 5px 2px dimgrey;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 220px !important;
  height: 170px !important; }
  .card p {
    position: absolute;
    margin-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    overflow: hidden; }
  .card .links {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    padding-top: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }
